<div class="listing">
  <h2 data-prefix="03.">Articles</h2>
  <ul>
    <li><a href="https://medium.com/@mustafazahidefe/git-notlar%C4%B1-1-4c5237fb9e19" target="_blank">Git Notları 1</a></li>
    <li><a href="https://medium.com/@mustafazahidefe/git-notlar%C4%B1-2-git-i%CC%87nit-f54292fbf631" target="_blank">Git Notları 2 - Git Init</a></li>
    <li><a href="https://medium.com/@mustafazahidefe/git-notlar%C4%B1-3-git-commit-96439510aef0" target="_blank">Git Notları 3 - Git Commit</a></li>
    <li><a href="https://medium.com/@mustafazahidefe/macos-ve-linux-elementary-os-dual-boot-yap%C4%B1m%C4%B1-1d64c7fe3d2a" target="_blank">MacOS ve Linux Dual Boot Yapımı</a></li>
    <li><a href="https://medium.com/@mustafazahidefe/bullet-journal-nedir-3a2c201ff4da" target="_blank">Bullet Journal Nedir, Ne İşe Yarar?</a></li>
    <li><a href="https://medium.com/@mustafazahidefe/git-notlar%C4%B1-4-git-log-235621f03f6a" target="_blank">Git Notları 4 - Git Log</a></li>
    <li><a href="https://medium.com/@mustafazahidefe/git-notlar%C4%B1-5-branch-kavram%C4%B1-d176626711a4" target="_blank">Git Notları 5 - Branch Kavramı</a></li>
    <li><a href="https://medium.com/@mustafazahidefe/git-notlar%C4%B1-6-branch-silmek-ve-merge-kavram%C4%B1-c4b6f0f8323" target="_blank">Git Notları 6 - Merge Kavramı ve Branch Silme İşlemi</a></li>
    <li><a href="https://medium.com/@mustafazahidefe/git-notlar%C4%B1-7-git-reset-6fefc9835cbe" target="_blank">Git Notları 7 - Git Reset</a></li>
  </ul>
  <a href="https://medium.com/@mustafazahidefe" target="_blank" class="more">More Projects <img src="dist/img/arrow-down.svg" alt="->" /></a>
</div>
