<div class="container">
  <footer>
    <ul>
      <!-- <li><a href="#">Instagram</a></li> -->
      <li><a href="mailto:gmail@zahidefe.net" target="_blank">Email</a></li>
      <!-- <li><a href="#">Dribble</a></li> -->
      <!-- <li><a href="#">Twitter</a></li> -->
      <li><a href="https://github.com/lahmacun" target="_blank">Github</a></li>
      <li><a href="https://www.linkedin.com/in/mustafa-zahid-efe-7843a58a/" target="_blank">LinkedIn</a></li>
      <!-- <li><a href="#">Superpeer</a></li> -->
      <li><a href="https://medium.com/@mustafazahidefe">Medium</a></li>
    </ul>
  </footer>
</div>
