<div class="listing">
  <h2 data-prefix="02.">Interviews & Speeches</h2>
  <ul>
    <li><a href="#">Taze Frontend Camp'18 - Frontend Development Tools Workshop</a></li>
    <li><a href="#">Bir İşe Giriştik - Web Development Workshop</a></li>
    <li><a href="#">Çalışma Masam - Baran Somaklı</a></li>
    <li><a href="#">Freelance Çalışmak | Avantajlar & Dezavantajlar - Baran Somaklı</a></li>
    <li><a href="#">Freelance nedir? konuk: baran somaklı</a></li>
    <li><a href="#">Ofissizler anlatıyor | Baran Somaklı | Front-end Developer</a></li>
    <li><a href="#">Google Developers Group Trabzon - Freelance ve Remote Çalışmak</a></li>
    <li><a href="#">Talkcast | Baran Somaklı ile Baştan Sona Freelance Çalışma Hayatı</a></li>
  </ul>
</div>
