<div class="listing">
  <h2 data-prefix="01.">Works</h2>
  <ul>
    <li><a href="https://youthall.com" target="_blank">Youthall</a></li>
    <li><a href="https://wordpress.org/plugins/speed-booster-pack" target="_blank">Speed Booster Pack</a></li>
    <li><a href="https://beautico.co" target="_blank">Beautico</a></li>
    <li><a href="https://qosmosstore.com" target="_blank">Qosmos Store</a></li>
  </ul>
  <!-- <a href="#" class="more">More Projects <img src="dist/img/arrow-down.svg" alt="->" /></a> -->
</div>
