<div class="listing">
  <h2 data-prefix="01.">Works</h2>
  <ul>
    <li><a href="#">Flexigo</a></li>
    <li><a href="#">Marmara Belediyeler Birliği</a></li>
    <li><a href="#">Sağlık Verisi</a></li>
    <li><a href="#">Beautico</a></li>
    <li><a href="#">ATÖLYE Akademi</a></li>
    <li><a href="#">Işık Üniversitesi</a></li>
    <li><a href="#">Pozy</a></li>
    <li><a href="#">Connexease</a></li>
  </ul>
  <a href="#" class="more">More Projects <img src="dist/img/arrow-down.svg" alt="->" /></a>
</div>
