html, body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #FFFFFF;
	@include medium;
}
*:focus {
  outline: none !important;
}
p, ul, ol, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
main {
  overflow-x: hidden;
}