$font-sm: '14px' !default;
$font-md: '16px' !default;
$font-lg: '18px' !default;
$font-xl: '20px' !default;
$font-2xl: '24px' !default;
$font-3xl: '28px' !default;
$font-4xl: '32px' !default;
$font-5xl: '36px' !default;
$font-6xl: '40px' !default;