<!DOCTYPE html>
<html lang="tr" dir="ltr" class="ltr">
<head>
	<meta charset="UTF-8">
	<title>StyleGuide</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="dist/css/vendors.css">
	<link rel="stylesheet" href="dist/css/main.min.css">
</head>
<body class="{%block bodyClass %}{% endblock %}">
	{% block content %}{% endblock %}

	<script src="dist/js/lib.min.js"></script>
	<script src="dist/js/core.min.js"></script>
</body>
</html>
