header {
  margin: 70px auto 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  @media all and (max-width: 996px) {
    margin: 30px auto 40px;
  }

  .logo {
    width: 103px;
    height: auto;
    transition: transform 1s;

    &:hover {
      transform: rotate(290deg);
    }
  }

  .contact-link {
    height: 50px;
    padding: 0 30px;
    @include libreCaslonText;
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    border: 1px solid #fff;
    transition: all 350ms;

    svg {
      path {
        transition: all 350ms;
      }
    }

    &:hover {
      text-decoration: none;
      background: #fff;
      color: #030303;

      svg {
        path {
          stroke: #030303;
        }
      }
    }
  }
}
